################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CoPartnerAPI/FileContentIndex/4911cd72-11e0-44c6-8b54-878b7b1c5596.vsidx
/.vs/CoPartnerAPI/FileContentIndex/a25c6b6b-e370-439e-98af-ca59f7bf8ba8.vsidx
/.vs/CoPartnerAPI/v17/.suo
/.vs/CoPartnerAPI/FileContentIndex/cb8a632e-f154-44f4-b7b6-90eb5dd6981c.vsidx
