################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CoPartnerAPI/FileContentIndex/4911cd72-11e0-44c6-8b54-878b7b1c5596.vsidx
/.vs/CoPartnerAPI/FileContentIndex/a25c6b6b-e370-439e-98af-ca59f7bf8ba8.vsidx
/.vs/CoPartnerAPI/v17/.suo
/.vs/CoPartnerAPI/FileContentIndex/cb8a632e-f154-44f4-b7b6-90eb5dd6981c.vsidx
/.vs/CoPartnerAPI/FileContentIndex/c63b7d2e-0b04-4eac-85cd-28ec529dfb8d.vsidx
/.vs/CoPartnerAPI/FileContentIndex/b6f54b8b-847c-40e1-95e2-ad3f67623b0d.vsidx
/.vs/CoPartnerAPI/FileContentIndex/0da75076-c3ce-4d65-9cf5-e4de58d22fa9.vsidx
/.vs/CoPartnerAPI/FileContentIndex/2580554d-16af-4474-bd29-1be0aa888e75.vsidx
/.vs/CoPartnerAPI/FileContentIndex/62307308-550e-40dc-85c8-d24172b629c1.vsidx
/.vs/CoPartnerAPI/FileContentIndex/bd7eaabf-12af-4068-82d4-7d4fc1d64c4d.vsidx
/.vs/CoPartnerAPI/FileContentIndex/bd7eaabf-12af-4068-82d4-7d4fc1d64c4d.vsidx
/.vs/CoPartnerAPI/FileContentIndex/bd7eaabf-12af-4068-82d4-7d4fc1d64c4d.vsidx
