################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CoPartnerAPI/FileContentIndex/4911cd72-11e0-44c6-8b54-878b7b1c5596.vsidx
